/* Accessibility widget start */
#universalAccessBtn {
  display: flex;
  padding: 0.5em;
  margin: 10rem auto;
  background-color: var(--color-primary);
  border-radius: 50%;
  border: 0;
  cursor: pointer;

  transition: background-color 0.25s ease-in-out;

  @media screen and (hover: hover) {
    &:hover {
      background-color: var(--color-secondary);
    }
  }
}

#accessibilityBar {
  position: fixed;
  bottom: 0.5rem;
  right: var(--header-height);

  display: flex;
  flex-direction: column;

  transform: translateX(calc(100% + var(--header-height)));

  background-color: var(--color-white);
  border: 3px solid var(--color-primary-light);
  border-radius: 5px;

  z-index: 9998;

  transition: transform 0.5s ease-in-out, box-shadow 0.25s ease-in-out 0.25s;

  & button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    padding: 0.5em;
    border: none;
    background-color: transparent;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;

    position: relative;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  & button:not(:last-child) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: var(--color-primary-light);
    }
  }
}

#accessibilityBar.active {
  transform: translateX(0);
  box-shadow: 0 5px 15px 10px rgb(34 34 34 / 20%);
}

body.accessibility_readingLine #readingLine {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100vw;
  height: 0.5rem;
  background-color: #ef3934;

  z-index: 9999;
}

body.accessibility_markerLine #markerLine {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100vw;
  height: 1.75rem;
  transform: translateY(-1rem);
  background-color: #e4fd00;
  opacity: 0.75;

  z-index: 9999;
}

body.contrast * {
  background-color: #000 !important;
  color: #e4fd00 !important;
  fill: #e4fd00 !important;
  stroke: #e4fd00 !important;
}

.accessibility-item-icon {
  display: inline-block;
  margin-right: 0.5em;
  fill: var(--color-primary);
  fill: red;
}

// .contrast-icon {
// }

// .increase-font-icon {
// }

// .original-font-icon {
// }

// .decrease-font-icon {
// }

// .marker-icon {
// }

// .line-icon {
// }

// .reset-icon {
// }
/* Accessibility widget end */
